* {
    margin: 0;
    padding: 0;
    /*border: 1px dashed red;*/
}

body{
    display: grid;
}

.navDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;

    padding: 10px 45px 13px 45px;
    margin: 0;
    position: sticky;
    top: 0;
    border-radius: 0 0 30px 30px;
    border: 0;
    background-color: brown;
    justify-self: center;
    width: fit-content;
}
#icon{
    filter: invert(1);
    width: 25px; height: 25px;
}

.peepeeandpoopoo {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px 0 0 0;
    justify-self: center;
    width: 95%;
    height: fit-content;
}

.mainBox{
    display: grid;
    width: 75%;
    height: fit-content;
    background-color: black;
    border-radius: 30px;
    padding: 10px;
}
.mainBox > *{
    justify-self: center;
    display: none;
    height: 100%;
    width: 100%;
}
.homeBox{
    display: block;
}

.Box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-evenly;
}

.OCProfile{
    height: 225px;
    width: 180px;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.095);

    transition: background-color 0.5s;
    transition: transform 0.5s;
}
.OCProfile:hover{
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.03);
}
#OCBD , #OCName{
    margin-left: 5px;
    text-align: start;
}
.OCProfileImg{
    width: 150px;
    height: 150px;
    background-color: crimson;
    border-radius: 15px 15px 0 0;
}

.contributorProfile{
    display: grid;
    grid-template-columns: 50px auto;
    gap: 10px;
    margin:0;
    border-radius: 10px;
    background-color: bisque;
    padding: 5px;
    height: 50px;
    width: 200px;
}
/*.contributorProfile > *{
}*/
.circleProfile{
    width: 50px;
    height: 50px;
    background-color: aqua;
    border-radius: 50%;
}

img{
    margin: 0;
    object-fit: cover;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
